.becomeMemberPage {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.subHeader {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #F3F3E5;
}

.leftContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.imageDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.label {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #F3F3E5;
  margin-bottom: 24px;
}

.imageInput {
  width: 80%;
  background-color: transparent;
  border: 1px solid #F3F3E5;
  color: #F3F3E5;
  font-size: 17px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
  border-radius: 12px;
  padding: 12px;
}

.bioDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.textArea {
  background-color: transparent;
  border: 1px solid #F3F3E5;
  color: #F3F3E5;
  font-size: 17px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  border-radius: 12px;
  padding: 12px;
  width: 80%;
  height: 140px;
}

.textArea::placeholder {
  color: #F3F3E5;
  font-size: 17px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.textArea:focus {
  outline: none;
}

.memberButton {
  background-color: #61E887;
  border: none;
  height: 48px;
  width: 260px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
  color: #413E3E;
  margin-top: 60px;
}

.rightContent img {
  width: 90%;
  height: auto;
  object-fit: contain;
  margin-top: -180px;
  margin-left: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .leftContent{
    width: 60%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .subHeader{
    font-size: 17px;
  }
  .leftContent{
    width: 100%;
  }
  .label{
    font-size: 12px;
  }
  .textArea{
    font-size: 12px;
  }
  .textArea::placeholder{
    font-size: 12px;
  }
  .imageInput{
    font-size: 12px;
  }
}
