.loginPage{
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: 80vh;
}
.left{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  font-size: 24px;
  color: #F3F3E5;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form input {
  background-color: transparent;
  border: 1px solid #F3F3E5;
  color: #F3F3E5;
  font-size: 17px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 12px;
  padding-left: 12px;
}
.form input::placeholder{
  color: #F3F3E5;
  padding-left: 12px;
}
.form input:focus {
  outline: none;
  box-shadow: none;
}
.form button{
  background-color: #61E887;
  border: none;
  height: 48px;
  width: 40%;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 17px;
  border-radius: 12px;
  margin-top: 48px;
  cursor: pointer;
  color: #413E3E;
}
.reminder{
  margin-top: 24px;
  margin-bottom: 4px;
  color: white;
}
.reminderLink{
  color: white;
}
.right img{
  width: 70%;
  height: auto;
  object-fit: cover;
}
.alert{
  color: #FCFF80;
  font-size: 17px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin-top: 36px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .left{
    width: 60%;
  }
  .right{
    width: 0%;
  }
  .form button{
    width: 60%;
  }
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .right {
    width: 0%;
  }
  .left{
    width: 100%;
  }
  .form button{
    width: 60%;
  }
  .header{
    font-size: 17px;
  }
  .form input{
    font-size: 12px;
  }
  .reminder{
    font-size: 12px;
  }
}
