.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-top: -16px;
}

.logo{
  font-size: 32px;
  text-align: center;
  color: #F3F3E5;
  font-family: 'Helvetica Neue',sans-serif;
  font-weight: 600;
  text-decoration: none;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
 .logo{
   font-size: 22px;
   margin-top: 24px;
 }
 .navbar{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
}
